@charset "UTF-8";
body {
    background-color: #282828;
}
.button {
    font-size: 100px;
    width: fit-content;
    color:black;
}

#result {
    background-color: #0c0032;
    width: 15vw;
    max-width: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    text-align: center;
    color: #E3E2DF;
    font-size: 3.6vmin;
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    font-style: normal;
}
#result span:nth-child(1){
    font-style: italic;
    font-size: 2.1em;
    display: block;
    color: white;
}
#result span:nth-child(2){
    font-style: italic;
    display: block;
    font-size: 2.1em;
    color: white;

}